app/build/generated/
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/asynclayoutinflater/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/compat/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/asynclayoutinflater/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/constraint/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/coordinatorlayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/coreui/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/coreutils/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/customview/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/design/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/drawerlayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/fragment/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/graphics/drawable/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/loader/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/slidingpanelayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/swiperefreshlayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/transition/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/v7/appcompat/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/v7/recyclerview/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/v7/viewpager/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/birthday/warhammerdice/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/compat/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/asynclayoutinflater/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/constraint/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/coordinatorlayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/coreui/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/coreutils/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/customview/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/design/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/drawerlayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/fragment/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/graphics/drawable/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/loader/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/slidingpanelayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/swiperefreshlayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/transition/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/v7/appcompat/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/v7/recyclerview/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/v7/viewpager/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/birthday/warhammerdice/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/asynclayoutinflater/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/asynclayoutinflater/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/compat/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/constraint/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/coordinatorlayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/coreui/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/coreutils/R.java
app/build/generated/source/buildConfig/androidTest/debug/birthday/warhammerdice/test/BuildConfig.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/birthday/warhammerdice/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/v7/viewpager/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/v7/appcompat/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/v7/recyclerview/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/transition/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/swiperefreshlayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/slidingpanelayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/loader/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/graphics/drawable/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/fragment/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/drawerlayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/design/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/customview/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/coreutils/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/coreui/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/coordinatorlayout/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/constraint/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/compat/R.java
app/build/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/android/support/asynclayoutinflater/R.java
app/build/generated/source/buildConfig/androidTest/debug/birthday/warhammerdice/test/BuildConfig.java
